* {
    box-sizing: border-box;
    font-family: fontsMontserrat;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color:gainsboro;
    /* background-image: url("img/pigsy-jinx-cqq8suQ7PEQ-unsplash.jpg"); */
    background-size: 100%;

  
}

nav {
    display: block;
float: none;
  text-align: right;
  padding: 2%;
  font-size: 18px;
  font-weight: lighter;
  text-transform: uppercase;
}

a {
    padding: 15px;
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: overline;
  }

  a.active {
    font-family: fontsMontserratBold;
  }

  main {
    padding: 4%;
}


footer {
    margin-top: auto;
    margin-bottom: 3px;
    width: 100%;
    text-align: center;
    
}

.footerText {
    font-size: x-small;
    padding: 0%;
}



h2 {
    text-align: center;
    margin-top: 8%;
    }
    

hr { 
    width: 20%;
    height: 0px;
    border: none;
    border-top: 1px solid grey;
   
}




/**SPECIFICALLY THE HOME/INDEX PAGE**/


.Hello {
    padding: 5%;
}

/**SPECIFICALLY THE ABOUT PAGE**/


.mainContainerAbout
{
    display: flex;
    flex-direction: column;
    align-content: center;
    
}




.flex-container {
    margin: 2% 10%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

img.face {
    max-width: 200px;
}

.shortText {
    margin: 0 4% 0 4%;
}

ul {
    margin-left: 4%;
list-style-type: square;
}

.buttons {
    margin: 0 10%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

button {
    margin-top: 4%;
    border: none; 
      padding: 15px 50px;
      text-decoration: none;
      font-size: 1rem;
      font-family: fontsMontserrat;
    }

button:hover {
    background-color: gray;
    color: white;
}

.longText {
    margin: 0 10%;
}

.cvTable {
    width: 100%;
    margin-right: 4%;
    text-align: left;
    
}

.cvTable td, .cvTable th {
    padding: 2%;
    min-width: 200px;
  }

th {
    font-family: fontsMontserratBold;
}

td.cvText {
margin-right: 4%;
}

/**SPECIFICALLY THE PROJECTS PAGE**/

.projectsGallery {
    display: inline-grid;
    grid-template-columns: auto auto;
  }
  
.galleyItem {
    text-align: center;
}


  .galleryItem:hover {
    background-color: white;
    color: gray;
  }
  


/**SPECIFICALLY THE CONTACT PAGE**/

.mainContainerContact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.contactBox1 {
    width: 30%;
    height: 50%;
    border: 1px solid grey;
}

.contactBox2 {
    width: 30%;
    height: 50%;
    border: 1px solid grey;
}

/**LIST OF FONTS**/

@font-face {
    font-family: fontsLibre;
    src: url(fonts/librebaskerville/librebaskerville-bold-webfont.woff);
  }

  @font-face {
    font-family: fontsMontserrat;
    src: url(fonts/montserrat/montserrat-extralight-webfont.woff);
  }

  @font-face {
    font-family: fontsMontserratBold;
    src: url(fonts/montserrat/montserrat-light-webfont.woff);
  }