body {

    background-color:gainsboro;
    /* background-image: url("img/pigsy-jinx-cqq8suQ7PEQ-unsplash.jpg"); */
    background-size: 100%;
    
    font-family: fontsMontserrat;
}

nav {
    display: block;
    float: none;
  text-align: right;
  padding: 2%;
  font-size: 18px;
  font-weight: lighter;
  text-transform: uppercase;
}

a {
    padding: 15px;
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: overline;
  }

  a.active {
    font-family: fontsMontserratBold;
  }

  a.socmedLink:hover {
    text-decoration: underline;
  }
  

main {
    padding: 15% 0 0 5%;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 10px;
    text-align: center;
    
}

.footer {
    font-size: x-small;
}



h2 {
    margin-top: 5%;
    text-align: center;
}



/**SPECIFICALLY THE ABOUT PAGE**/

img.face {
    margin: 3%;
    max-width: 200px;
    float: left;
   
}


/**SPECIFICALLY THE CV PAGE**/

#cvTable {
    width: 100%;
    margin: 2%;
    text-align: left;
    background: 50%;
}

#cvTable td, #cvTable th {
    padding: 2%;
    min-width: 200px;
  }


.tableHead {
    font-family: fontsMontserratBold;
}


/**SPECIFICALLY THE PROJECTS PAGE**/

.projectsGallery {
    display: inline-grid;
    grid-template-columns: auto auto;
  }
  
.galleyItem {
    text-align: center;
}

  .galleryItem:hover {
    border: 1px solid #777;
  }
  

/**LIST OF FONTS**/

@font-face {
    font-family: fontsLibre;
    src: url(fonts/librebaskerville/librebaskerville-bold-webfont.woff);
  }

  @font-face {
    font-family: fontsMontserrat;
    src: url(fonts/montserrat/montserrat-extralight-webfont.woff);
  }

  @font-face {
    font-family: fontsMontserratBold;
    src: url(fonts/montserrat/montserrat-light-webfont.woff);
  }