* {
    box-sizing: border-box;
    font-family: fontsMontserrat;
}


html {
  scroll-behavior: smooth;
  margin:0;
  overflow-x: hidden;
}



/* TEXT STYLING */

h2 {
  text-align: center;
  margin-top: 4%;
color: #260E0E;
font-family: fontsMontserratBold;
  }

  h4 {
    text-align: center;
  }


  p {
    text-align: left;
    line-height: 1.5;
  }
  
ol {
  margin: 0;
  padding: 0;
  text-decoration: underline;
}


/**FONTS**/

@font-face {
  font-family: fontsLibre;
  src: url(fonts/librebaskerville/librebaskerville-bold-webfont.woff);
}

@font-face {
  font-family: fontsMontserrat;
  src: url(fonts/montserrat/montserrat-extralight-webfont.woff);
}

@font-face {
  font-family: fontsMontserratBold;
  src: url(fonts/montserrat/montserrat-light-webfont.woff);
}

/* ÅTERKOMMANDE ELEMENT */

a {
  padding: 15px;
  text-decoration: none;
  color:black;
}

hr { 
margin-bottom: 3%;
  width: 20%;
  height: 0px;
  border: none;
  border-top: 1px solid #260E0E;
}

ul {
  list-style: square;
}

/* BODY */

body {
  max-width :100%;
   margin: 0%;
  padding:0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.4); 
    /* background-image: url("img/pigsy-jinx-cqq8suQ7PEQ-unsplash.jpg"); 
    background-size: 100vw;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

/* BODY ON SCREEN SMALLER THAN 800px */

@media screen and (max-width: 800px) {

  body {
   max-width :100%;
    margin: 0%;
     display: flex;
     flex-direction: column;
 }

 h2 {
  margin-top: 15%;
  }

  p {
    text-align: justify;
  }

}

/* HEADER AND MENU BAR */

.menu {
  width: 100%;
  padding: 20px 0px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
  /* background-image: url("img/pigsy-jinx-cqq8suQ7PEQ-unsplash.jpg"); 
background-size: 100%;
  background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; */
}

/* En signatur-logga som jag inte har med nu..  
#signature {
  max-height: 40px;
  padding-left: 20px;
  padding-top: 10px;
  float: left;
} */


/*
.page_title {
  font-weight: bolder;
  margin-left: 20px;
  font-size: 18px;
}
*/



/* NYA NAVBAREN! */

.topnav {
  width: 100%;
  overflow: hidden;
  margin-right: 20px;
  float: right;
  font-weight: lighter;
  color: #260E0E;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  text-decoration: overline;
  color: black;
}


#pagetitle {
  float: left;
  margin-left: 50px;
}

#pagetitle:hover {
text-decoration: none;
font-weight: 1000;
}



/* Hide the hamburger when large screen */
.topnav .icon {
  display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
   
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: fixed;
    
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;

    display: flex;
    flex-direction: column-reverse;

    text-align: right;
  }



}










/* HOME / INTRO - HELLO AND WELCOME */

.Hello {
  min-height: 75vh;
 margin-top: 130px;
padding: 10%; 
scroll-margin-top: 100px;
}

.Hello h1 {
  color: #260E0E
}

.welcome h3 {
  text-align: left;
}

/* HOME / INTRO - HELLO AND WELCOME ON SCREENS SMALLER THAN 800px */

@media screen and (max-width: 800px) {

  .Hello {
    min-height: 75vh;
   margin-top: 25vh;
  padding: 5%; 
  }
}









/**THE ABOUT ME SECTION**/

.whoAmI {
  min-height: 100vh;
  max-width: 100%;
  padding: 2%;
 background-color: #F6F5F4;

 scroll-margin-top: 50px;
}

.flex-container {
    margin: 0% 10%;
    display: flex;
    align-content: center;  
   justify-content: space-around;
}

.flex-item1 {
  max-width: 35%;
  display: flex;
    flex-direction: column;
    align-content: center;
   
}

.face {
  max-width: 200px;
    max-height: 200px;
    border-radius: 2px;
}

.flex-item2 {
  max-width: 65%;
  display: flex;
    flex-direction: column;
    align-content: center;  
}

#whoAmItable td {
  height: 30px;
  vertical-align: text-top;
}

.backgroundText {
  margin: 4% 0%;
}


button {
  width: 220px;
  height: 50px;
  margin-top: 4%;
  padding: 4%;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #BFB6AE;
  color: black;
  font-weight: bold;
  cursor: pointer;
}


button:hover {
  background-color: #75696A;
  color: white;
}


.uxText {
 margin: 4% 10% 4% 10%;
}

#uxTable {
   margin: 4% 10% 4% 10%;
}

#uxTable th {
  width: 30%;
  text-align: left;
  height: 60px;
  vertical-align: text-top;
}

#uxTable td {
  text-align: left;
  height: 60px;
  vertical-align: text-top;
}


#downloadCV {
  width: 220px;
  height: 50px;
  margin-top: 4%;
  padding: 4%;
  border-style: solid;
  border-radius: 2px;
  border-width: 2px;
  border-color: #BFB6AE;
  outline: none;
  font-size: 1rem;
  
  color: black;
  font-weight: bold;
  cursor: pointer;

  display: flex;
align-items: center;
justify-content: center;
}

#downloadCV:hover {
  background-color: #75696A;
  border-color: #75696A;
}

#downloadCV:hover a {
  color: white;
}



/**THE ABOUT ME SECTION ON SCREENS SMALLER THAN 800px**/

@media screen and (max-width: 800px) {

  .flex-container {
    margin: 4% 10% 4% 10%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;  
   justify-content: space-around;
  }
  
.flex-item1 {
  margin-top: 4%;
  margin-bottom: 4%;
  max-width: 100%;
  display: flex;
    flex-direction: column;
    align-items: center;  
}

.flex-item2 {
  max-width: 100%;
  margin-top: 4%;
padding: 0%;
  display: flex;
    flex-direction: column;
    align-items: center;  
}

table {
  display:table-cell;
}
 
button, #contactLinkedIn{
  display: inline-block;
  max-width: 250px;
  height: 50px;
}


#uxTable {
  margin: 4% 10% 4% 10%;
  text-align: justify;
}



}











/**PROJECTS SECTION **/

.projects {
  margin: 4% 0% 4% 0%;
  background-color: rgb(255, 255, 255, 0.4);

  scroll-margin-top: 100px;
}

.projectsGallery {
  display: flex;
  flex-wrap: wrap;
}

.galleryItem {
  width: 50%;
}

.project-img {
 width: 100%;
}

.projectContainer {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.textlink {
  height: 100%;
  width: 100%;
  opacity:0;
  position: absolute;
 display: flex;
 flex-direction: column;
 justify-content: center;
  align-items: center;
 padding: 5px;

}

#FRISQimg:hover {
opacity: 0.3;
}

.textlink:hover {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out .0s;
    transition: opacity .5s ease-in-out .0s;
    background-color: rgb(255, 255, 255, 1);
}



.mobileText {
  visibility: hidden;
}


/* PROJECTS SECTION ON SCREENS SMALLER THAN 800px */
@media screen and (max-width: 800px) {

  .projectsGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  .galleryItem {
    width: 100%;
  }

  .mobileText {
    visibility: visible;
    background-color: #75696A;
  }

    }
  





/**CONTACT SECTION**/

.contactMe {
  min-height: 75vh;
  padding: 2%;
  background-color: #F6F5F4;
}

.mainContainerContact{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
}

.contactBox2 {
  width: 50%;
  height: 50%;
  padding: 2%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#contactLinkedIn {
  width: 250px;
  height: 50px;
  padding: 2%;
  color: black;
}






/* FOOTER */

footer {
    margin-bottom: 3px;
    width: 100%;
    background-color: #F6F5F4;
}

.footerText {
    font-size: small;
    font-weight: lighter;
    padding: 0%;
    text-align: center;
}




/* FRISQ PROJECT PAGE!!! */ 

.frisqContainer {
display: flex;
flex-direction: column;
}


.frisqContainer h1, h3 {
  text-align: center;

}

.frisqContainer img {
  width: 100%;
}

#introContainer, #whatContainer, #howContainer, #resultContainer{
display: flex;
flex-wrap: wrap;
width: 100%;
}

.introBox, .whatBox, .howBox, .resultBox{
  width: 50%;
}

